/* Fonts */
@font-face {
  font-family: 'Poppins-Regular';
  src: local('Poppins-Regular'),
    url(../fonts/Poppins-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins-Bold';
  src: local('Poppins-Bold'), url(../fonts/Poppins-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins-SemiBold';
  src: local('Poppins-SemiBold'),
    url(../fonts/Poppins-SemiBold.ttf) format('truetype');
}

/* Global Styles */
html {
  /* font-size: 62.5%; */
}

body {
  margin: 0;
  font-family: 'Poppins-Regular';
  font-size: 1rem;
}

h1 {
  font-family: 'Poppins-Bold';
  font-size: 3.5rem;
}

h2 {
  font-family: 'Poppins-Bold';
  font-size: 2rem;
}

h3 {
  font-family: 'Poppins-Bold';
  font-size: 1.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
