version: 2.1

orbs:
  docker: circleci/docker@1.0.1

jobs:
  build-and-test:
    executor: docker/docker
    steps:
      - setup_remote_docker
      - checkout
      - docker/install-docker-tooles
      - run:
          command: docker-compose -f docker-compose.test.yml pull
          name: Pull
      - run:
          command: docker-compose -f docker-compose.test.yml test-backend
          name: Test

workflows:
  main:
    jobs:
      - build-and-test
