/* Fonts */
@font-face {
  font-family: 'Poppins-Regular';
  src: local('Poppins-Regular'), url(./assets/fonts/Poppins-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins-Bold';
  src: local('Poppins-Bold'), url(./assets/fonts/Poppins-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins-SemiBold';
  src: local('Poppins-SemiBold'), url(./assets/fonts/Poppins-SemiBold.ttf) format('truetype');
}

/* Global Styles */
body {
  margin: 0;
  font-family: 'Poppins-Regular';
  font-size: 1.2em
}

h1 {
  font-family: 'Poppins-Bold';
  font-size: 96px;
}

h2 {
  font-family: 'Poppins-Bold';
  font-size: 40px;
}

h3 {
  font-family: 'Poppins-Bold';
  font-size: 32px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
